# Python-related stuff
venv/
__pycache__/
.idea/

# Main config file
firmhack.json

# Log files
firmhack.log
proxy.log

# Files
files/*
!files/.gitkeep

# Temporary hostapd-mana config files
hostapd.conf
firmhack.eap_user

# Keys and certificates
server.key
csr.csr
server.pem
dhparam.pem
ca.pem

# Temporary proxychains config file
proxychains.conf

# Temporary dnsmasq config file
dnsmasq.conf